*{
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.hero{
  height: 100vh;
  width:100%;
  background-image: url(1.png);
  background-size: cover;
  background-position: center;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
}
.logo{
  color: white;
  font-size: 48px;
  letter-spacing: 1px;
}
span{
  color: red;
}
nav ul li{
  display: inline-block;
  list-style-type: none;
  padding: 10px 25px;
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover{
  color: red;
  transition: .1s;
}
.btn{
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.4s;
  margin-left: 30px;
  margin-top: 20px;
}
.btn:hover{
  transform: scale(1.1);
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}
.content{
  position: absolute;
  top: 50%;
  left:8%;
  transform: translateY(-50%);
}
h1{
  color: white;
  margin: 20px 0px 20px;
  font-size: 72px;
}
h3{
  color: white;
  font-size:32px;
  margin-bottom: 50px;
}
h4{
  color: white;
  letter-spacing: 2px;
  font-size: 28px;
}
.newslatter form{
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newslatter form input:first-child{
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 1px solid #f9004d;
  outline: none;
  border-radius: 30px;
}
.newslatter form input:last-child{
  position: : absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: red;
  color: white;
  box-shadow: 0px 0px 3px ,0px 0px 5px ;
  top: 6px;
  right: 6px;
  margin-top: 6px;
}
.about{
  width: 100%;
  padding: 100px 0px;
  background-color: #191919 ;
}
.about img{
   height: auto;
   width: 430px;
}
.about-text{
  width: 550px;
}
.main{
  width :1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2{
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5{
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.about-text p{
  color: white;
  line-height: 28px;
  font-size: 18px;

}
button{
  background-color: red;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover{
  background-color: transparent;
  border: 2px solid red;
  cursor: pointer;
}
.content p{
  color: white;
  margin-left: 40px;
  font-size: 30px;
  padding: 13px;
}
footer{

  background: black;
  color: white;
  font-weight: bold;
}
